cython==3.0.8
blinker==1.6.2
click==8.1.3
Flask~=3.0.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
numpy==1.26.3
pickle-mixin==1.0.2
scikit-learn==1.4.0
scipy==1.12.0
threadpoolctl==3.1.0
Werkzeug==3.0.1
streamlit~=1.28.2
torch~=2.1.0
langchain~=0.0.340
transformers~=4.35.0
